.users-div{
    width: 80%;
}

.no-user{

    clear: right;
    font-size: 20px;
    color: red ;
    width: 100%;
    padding: 8px 0px;
    margin-top: 80px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(191, 198, 198);
}


.add-btn-div{
    float: right;
    .userAddBtn{
        background-color: rgb(19, 201, 43);
        width: 140px;
        margin-right: 10px;
    }

    .userAddBtn:hover{
        background-color: rgb(17, 141, 33);
    }

    .userDeleteBtn{
        background-color: rgb(214, 25, 25) ;
        width: 140px;
    }

    .userDeleteBtn:hover{
        background-color: rgb(189, 27, 27);
 
    }
}



.dataTables_wrapper{
    margin-top: 50px;
}

.dataTables_wrapper:first-child::after{
    display: block;
}

.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 40%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {

    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: black;
    font-size: 22px;
}

.modal-body {
    padding: 2px 16px;
    display: flex;
    align-items: center;

}

.modal-footer {
    padding: 2px 16px;
    color: white;
}

.show{
    display: block;
}

.footer-btn{
    display: flex;

    .footer-yes{
        background-color: rgb(46, 197, 66);
        width: 80px;
        margin-right: 15px;
    }

    .footer-yes:hover{
        background-color: rgb(23, 136, 38);
    }

    .footer-no{
        background-color: rgb(190, 194, 191);
        width: 80px;
    }

    .footer-no:hover{
        background-color: rgb(136, 138, 136);
    }
}
