
.headerbar{
    display: flex;
    align-items: center;
    float: right;
    padding: 5px;
}

// .search-container{
//     margin-right: 10px;
// }

.headerbar-img{
    width: 40px;
    height: 40px;

    img{
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
}

.log-out{
    z-index: 100;
    margin-top: 50px;
    background-color: white;
    display: none;
    width: 120px;
    position: absolute;
    right: 0px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #dedada;
    
}

.showDiv:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.showDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-log-out{
    background-color: white;
}

.uname-pic{
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: burlywood;
}