

.dashboard-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 20px 20px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}


.user-statistics{
    width: 100%;
   


    .user-statistics-header{
        padding-left: 5px;
        color: white;
        background-color: #3E4152;

        p{
            
            padding-left: 5px;
            margin: 0px !important;
            display: inline-block;
        }

        .calender{
            cursor: pointer;
            padding: 3px 10px;
            float: right;
        }

        #filter-div{
            display: none;
            float: right;
            padding-right: 4px;
            cursor: pointer;

            .filter-close{
                position: absolute;
                font-size: 10px;
            }
        }
        // #filter-close{
        //     display: none;
        //     cursor: pointer;
        //     padding: 3px 10px;
        //     float: right;
        // }
    }

    .card-container{

        
        padding-top: 10px;

        .padding{
            display: inline-block;
            width: 33.33%;
            padding-right: 10px;
        }
        
        .card{
            
            .card-body{
                padding: 0px !important;
                padding: 10px 20px !important;
            }

            %style-icon{
                display: inline-block;
                border-radius: 50%;
                // border: 1px solid;
                padding: 3px 8px;
            }

            .card-value{
                padding-top: 4px;
            }

            .pulsating-circle{
                position: absolute;
                //background-color: gray;
         

                .card-icon-all{
                    @extend %style-icon;
                    background-color: #7F66B2;
                    animation: animate 1.5s linear infinite;
                }

                .card-icon-all:hover{
                    animation-play-state: paused;
                    background-color: #8e7cb3;
                }

                @keyframes animate {
                    
                    0%{
                        box-shadow: 0 0 0 0 #7F66B2;
                    }

                    40%{
                        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0)
                    }

                    80%{
                        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0)
                    }

                    100%{
                        box-shadow: 0 0 0 0px rgba(255, 109, 74, 0)
                    }


                }


                .card-icon-active{
                    @extend %style-icon;
                    background-color: #30926F;
                    animation: animate1 1.5s linear infinite;
                }

                .card-icon-active:hover{
                    animation-play-state: paused;
                    background-color: #50927b;
                }

                @keyframes animate1 {
                    
                    0%{
                        box-shadow: 0 0 0 0 #30926F;
                    }

                    40%{
                        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0)
                    }

                    80%{
                        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0)
                    }

                    100%{
                        box-shadow: 0 0 0 0px rgba(255, 109, 74, 0)
                    }


                }

                .card-icon-inactive{
                    @extend %style-icon;
                    background-color: #BB6C57;
                    animation: animate2 1.5s linear infinite;
                }

                .card-icon-inactive:hover{
                    animation-play-state: paused;
                    background-color: #b97c6b;
                }

                @keyframes animate2 {
                    
                    0%{
                        box-shadow: 0 0 0 0 #BB6C57;
                    }

                    40%{
                        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0)
                    }

                    80%{
                        box-shadow: 0 0 0 15px rgba(255, 109, 74, 0)
                    }

                    100%{
                        box-shadow: 0 0 0 0px rgba(255, 109, 74, 0)
                    }


                }
            }
            
            .card-icon{
                color: white;
                font-size: 14px;
                display: inline-block;
            }

            .card-value{
                // display: inline-block;
                float: right;
            }
        }
    }
}

.second-header{
    margin-top: 30px;
}
.linechart-margin{
    display: flex;
    width: 100%;
    padding-top: 10px;
}

.linechart-div{
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 5px 30px;
    width: 50%;
    height: 340px;
    border-radius: 5px;

    margin-right: 10px;

    p{
        text-align: center;
    }

    
    
}

.piechart-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 30px;
    background-color: white;
    margin-right: 10px;
    width: 50%;
    height: 340px;
    border-radius: 5px;

    p{
        text-align: center;
    }


}

.recharts-wrapper{
    display: flex;
    flex-direction: column;
}


.recharts-legend-wrapper{
    position: relative !important;
}

.map-div{
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    position: relative;
    
    .google-map-container{
        position: relative;
        background-color: white;
        height: 300px;
        width: 55%;
        padding: 10px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .salary-chart{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        height: 300px;
        width: 45%;
        padding: 10px;
        border-radius: 5px;

        p{
            text-align: center;
        }
        // p{
        //     margin: 0px !important;
        //     margin-top: 10px;
        // }
        
        .recharts-wrapper{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }

    }
}



.filter-card{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    
    .card-body{
        color: white;
        padding: 0px !important;

        .filter-header{
            background-color: #47E0A9;
            .card-title{
                display: inline-block;
                font-size: 16px !important;
                padding: 15px 10px;  
                margin-bottom: 0px !important; 
            }

            .close{
                cursor: pointer;
                color: white;
                padding: 10px;
            }
        }
        
    }

    .filter-card-content{
        padding-top: 10px;
        padding-left: 20px;
        text-align: left;
        color: black;

        .radio{
            margin-right: 5px;
        }
        
        label{
            font-size: 12px;
            margin-bottom: 0px !important;
            
        }

    }


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    
    .card-container{
        padding-right: 0px !important;
    }

    .padding{
        width: 100% !important;
        margin-bottom: 10px;
        padding-right: 0px !important;
    }

    .linechart-margin{
        flex-direction: column;

        .linechart-div{
            width: 100% !important;
            margin-bottom: 10px;

            .recharts-surface{
                width: 100% !important;
                padding-right: 30px;
            }
        }

        .piechart-div{
            width: 100% !important;
        }
    }

    .map-div{

        flex-direction: column !important;
        padding-right: 0px !important;
        .google-map-container{
            width: 100% !important;
            margin-top: 10px;
        }

        .salary-chart{
            width: 100% !important;
            margin-top: 15px;

            .recharts-surface{
                width: 80% !important;
            }
        }
    }

    

    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    
    .card-container{
        padding-right: 0px !important;
    }
    

    .padding{
        width: 100% !important;
        margin-bottom: 10px;
        padding-right: 0px !important;
    }

    .linechart-margin{
        flex-direction: column;

        .linechart-div{
            width: 100% !important;
            margin-bottom: 10px;

            .recharts-surface{
                width: 100% !important;
                padding-right: 30px;
            }
        }

        .piechart-div{
            width: 100% !important;
        }
    }

    .map-div{

        flex-direction: column !important;
        padding-right: 0px !important;
        .google-map-container{
            width: 100% !important;
            margin-top: 10px;
        }

        .salary-chart{
            width: 100% !important;
            margin-top: 15px;

            .recharts-surface{
                width: 80% !important;
            }
        }
    }

    
  }



/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

    .linechart-margin{
        padding-right: 10px !important;
        // flex-direction: column;

        .linechart-div{
            // width: 100% !important;
            // margin-bottom: 10px;

            .recharts-surface{
                width: 100% !important;
                padding: 10px;
                padding-right: 30px !important;
            }
        }

        .piechart-div{
            margin-right: 0px !important;
            padding-right: 10px !important;
            // width: 100% !important;
        }
    }

    .map-div{

        // flex-direction: column !important;
        padding-right: 10px !important;
        .google-map-container{
            width: 100% !important;
            // margin-top: 10px;
        }

        .salary-chart{
            padding-right: 0px !important;
            // width: 100% !important;
            // margin-top: 15px;

            .recharts-surface{
                width: 70% !important;
            }
        }
    }
    
}