.form-div{
  background-color:#CCC;
  border-radius: 24px;
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-author-form{
    width: 60%;
    display: block;
    
  }
  
  
  .img-preview, .add-author-form input[type="file"]{
    margin-top: 5px;
  }
  
  
  .button-div{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .form-items{
    margin-top: 15px;

    i{
      position: absolute;
      padding-left: 10px;
      padding-top: 18px;
      font-size: 13px;
    }
  }

  .button-div{
    margin-top: 20px;
  }

  .action-button{
    font-size: 20px;
    background-color: #6565bb;
    color: white;
    width: 40%;
  }

.action-button:hover{
    background-color: #4343b4;
}

.cancel{
  margin-left: 30px;
}
