.form-div {
  background-color: #CCC;
  border-radius: 24px;
  width: 70%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-author-form {
  width: 60%;
  display: block;
}

.img-preview, .add-author-form input[type="file"] {
  margin-top: 5px;
}

.button-div {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.form-items {
  padding-top: 15px;
}

.form-items i {
  position: absolute;
  padding-left: 10px;
  padding-top: 13px;
  font-size: 13px;
}

.button-div {
  padding-top: 20px;
}

.action-button {
  font-size: 20px;
  background-color: #6565bb;
  color: white;
  width: 40%;
}

.action-button:hover {
  background-color: #4343b4;
}

.cancel {
  margin-left: 30px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: black;
  font-size: 22px;
}

.modal-body {
  padding: 2px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-footer {
  padding: 2px 16px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-btn .footer-crop {
  background-color: #30e648;
  width: 120px;
  margin-right: 15px;
}

.footer-btn .footer-crop:hover {
  background-color: #0fa723;
}

.footer-btn .footer-cancel {
  background-color: #cac7c7;
  width: 120px;
}

.footer-btn .footer-cancel:hover {
  background-color: #8a8888;
}

.ReactCrop {
  height: 300px !important;
  width: 100% !important;
}

.ReactCrop div {
  height: 300px !important;
}

.ReactCrop .ReactCrop__image {
  width: 100% !important;
  height: 300px !important;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .form-div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85% !important;
  }
  .form-div .add-author-form {
    width: 85% !important;
  }
  .form-div .add-author-form h2 {
    font-size: 25px !important;
  }
  .form-div .action-button {
    font-size: 14px !important;
    margin-bottom: 10px !important;
  }
  #popUpModal .modal-content {
    width: 80% !important;
  }
  .container aside {
    padding-bottom: 5px;
  }
  .container aside div {
    margin-top: -5px !important;
    width: 95px !important;
    height: 100px !important;
  }
  .container aside div div img {
    width: 100% !important;
    height: auto !important;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .form-div {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85% !important;
  }
  .form-div .add-author-form {
    width: 85% !important;
  }
  .form-div .add-author-form h2 {
    font-size: 25px !important;
  }
  .form-div .action-button {
    font-size: 14px !important;
    margin-bottom: 10px !important;
  }
  #popUpModal .modal-content {
    width: 80% !important;
  }
  .container aside {
    padding-bottom: 5px;
  }
  .container aside div {
    margin-top: -5px !important;
    width: 95px !important;
    height: 100px !important;
  }
  .container aside div div img {
    width: 100% !important;
    height: auto !important;
  }
}
/*# sourceMappingURL=AddUpdateUser.css.map */