.admin-panel{
    display: flex;
    width: 100%;
    height: 100vh;
}
  
  .left{
    display: flex;
    width: 15%; 
    background-color: #46495C;
    
    .nav-div{
      position: fixed;
      width: 15%;
    }
  }
  
  .right{

    display: flex;
    flex-direction: column;
    width: 85%;

    
    .headerbar-div{
      padding-right: 10px;
      background-color: #46495C;
    }
  }

  .dashboard-container{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 100%;
    overflow-y: scroll;
  }
  
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .dashboard-container{
    padding: 0px !important;
  }
  
  
}