.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: #47E0A9;
    color: white;

    // border-bottom: 1px solid white;
    h2{
        margin-left: 10px;
        font-size: 18px;
        display: inline;
    }
}


.profileImg{
    padding: 0px;
    width: 40px;
    height: 40px;
}

.profileName{
    margin: 0px !important;
    margin-top: 10px !important;
}

.profileImg img{
    width: 100%;
    height: auto;
    border-radius: 24px;
}

.nav-close{
    display: none;
    padding: 16px;
    font-size: 22px;
    color: white;
    position: absolute;
    top: 5px;
    right: 0px;
    margin-top: -14px;
}

.nav-items{
   
    ul{
        
        width: 100%;
        list-style-type: none;
        padding-inline-start: 0px !important;
        margin-block-start: 0px !important;

        a{
            display: flex;
        }

        li{
            display: flex;
            align-items: center;
            padding: 10px 15px;
            text-decoration: none;
            width: 100%;
    
            
            
            p{
                margin-left: 10px;
                display: inline;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
        }

        li:hover{
            background-color: #6a6c7c;
        }
    }
}

.more{
    margin-left: 5px;
}

.more-items{
    display: none;   
}

.showMore{
    display: block;
    ul li{
        padding-left: 30px;
    }
}


